body{
    margin:0;
    padding:0;
    text-align:left;
    font-size: 32px;
    background-color: #000000;
    color:#fff;
}
#start{
    width: 100%;
    min-height: 100%;
    
}
header{
    background-color:#000000;
    color: #fff;
    border-bottom: 1px solid #ccc;
    text-align: center;
}
main{
    border-bottom:1px solid #ccc;
    background-color: #000000;
    color: #fff;
}

textarea{
    background-color: #000000;
    color: #fff;
}
footer{
    background-color: #fff;
    border-bottom:1px solid #ccc;
    text-align: center;
}
p{
    font-size:200%;
    text-align: center;
    border-bottom:1px solid #fff;
    height:200px;
}

.hands{
    background-color: #000000;
    color: #fff;
    padding: 100px 10px;
}

#enemy_1{
    margin-left: 300px;
}

.enemy{
    display: none;
    height: 100px;
    float: left;
  }

ul{
    padding: 0;
    border-top: 1px solid #000000;
    display:table;  /* 定義 */
    table-layout: fixed;
    width:100%;
}
li{
    text-align: center;
    list-style-type:none;
    border: 1px solid #666;
    background-color:#000000;
    color: #fff;
    display:table-cell;  /* 定義 */
    cursor: pointer;
}
li:hover{
    background: #0066CC;
    color:#fff;
}

#text_area{
    font-size: 60px;
}